body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    margin-left: 210px;
    padding: 20px;
}

.content .image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.content h1 {
    margin-left: 40px;
    font-size: 2em;
    margin-bottom: 10px;
}

.content p {
    margin-left: 40px;
    font-size: 1em;
    margin-bottom: 10px;
}
