body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.header {
  background-color: #3180c9;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-size: 32px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: #3180c9;
  padding: 10px;
  color: white;
  width: 200px;
  align-items: center;
}
nav .left-nav {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav ul li {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
nav ul li:last-child {
  margin-bottom: 0;
}
nav ul li a {
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px 20px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: left;
}

nav ul li a i {
  margin-right: 10px;
}
.logout-btn {
  background-color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 160px;
  box-sizing: border-box;
}

.brand {
  margin-bottom: auto;
}
nav ul li.active a {
  border-color: white;
  background-color: white;
  color: #3180c9;
}
.navbar {
  height: 80px;
  width: calc(100% - 200px);
  margin-left: 200px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  margin-left: 10px;
  font-weight: bold;
  font-size: 25px;
}
