body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    height: 80px;
    width: calc(100% - 200px);
    margin-left: 200px;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-nav-right {
    display: flex;
    align-items: center;
    padding-right: 25px;
    justify-content: flex-end;
}

#greet-user {
    font-size: 20px;
    color: #000;
}

.navbar-brand {
    margin-left: 10px;
    font-weight: bold;
    font-size: 25px;
}

.hidden-burger {
    display: none;
}

.collapsed-navi {
    display: none;
}

.collapsed-main {
    margin-left: 0px !important;
}

.collapsed-navbar {
    margin-left: 0 !important;
    width: 100% !important;
}

#burger-icon {
    color: #000;
    background-color: whitesmoke;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}