body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  color: #34495e;
}

p {
  text-align: left;
  font-size: 1em;
  margin: 10px 0;
}

strong {
  color: #34495e;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

button:hover {
  background-color: #5460d1;
}
textarea {
  resize: none;
  height: 100px;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

input[type="text"],
input[type="time"],
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 0.9em;
  background-color: #f9f9f9;
  width: 100%;
  box-sizing: border-box;
}
label {
  margin: 10px 0 5px;
  font-size: 0.9em;
  color: #34495e;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6670f0;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  text-decoration: none;
  margin: 10px 5px;
  cursor: pointer;
}

.back-button {
  display: block;
  text-decoration: none;
  color: #6670f0;
  font-size: 0.9em;
}

.back-button:hover {
  text-decoration: underline;
}

.button:hover {
  background-color: #5460d1;
}

.button-red {
  background-color: #e74c3c;
}

.button-red:hover {
  background-color: #c0392b;
}
form {
  display: flex;
  flex-direction: column;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.success-msg {
  color: green;
  font-weight: bold;
}
.error-msg {
  color: red;
  margin-bottom: 10px;
  font-size: 0.9em;
}
